<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div id="vapp">
      <p>{{ display }}</p>
      <select v-model="selected" @change="onChange($event)">
        <option disabled value="">PLEASE SELECT HOW TO SORT</option>
        <option value="alphabet">Alphabetically</option>
        <option value="student">Student Enrollment Size</option>
      </select>
      <div v-for="college in results" class="college-profile">
        <div class="collage-info-container">
          <div>Name:</div>
          <div>{{ college['school.name'] }}</div>
        </div>
        <div class="collage-info-container">
          <div>Admissions Rate:</div>
          <div>{{ college['latest.admissions.admission_rate.overall'] }}</div>
        </div>
        <div class="collage-info-container">
          <div>Student Size:</div>
          <div>{{ college['latest.student.size'] }}</div>
        </div>
      </div>
    </div>
    <script src="/index.js" async defer></script>
  </body>
</html>
